@page "/{lang}/RecruitmentInfo/{link}"
@inject IPositionService _positionService
<HeaderComponent LanguageChanged="ChangeLanguage" lang=@lang>
    <h6 class="card-title text-info fs-4 fw-bold"><span style="display: inline-flex">@Localizer.GetUi("PositionName"): </span><span class=" text-dark">@Position.PositionName</span> </h6>
    <h5 class="card-title text-info fs-6 fw-bold">
        <span style="display: inline-flex">@Localizer.GetUi("OrganizationName"): </span>
        <span class=" text-dark">@Position.OrganizationName</span>
    </h5>
    @if (Position != null)
    {
        @if (Position.LinkExpiryDate > DateTime.Now)
        {
            <div class=" ">
                <button class="btn btn-success btn-md" @onclick="NavigateToRecruitmentForm">@Localizer.GetUi("Apply")</button>
            </div>

        }
    }
</HeaderComponent>
<div class="row m-0 p-0">
    <div class="col-md-8 ">
        <div class="card mb-3 p-3">
            <div class="col">
                <h3 class="card-title text-primary fw-bold m-0 mb-2 fs-5">@Localizer.GetUi("PositionSummary")</h3>
                @if (!string.IsNullOrEmpty(Position.PositionSummary))
                {

                    <p>@Position.PositionSummary.Replace(Environment.NewLine, "<br>")</p>
                }
            </div>
        </div>

        <div class="card mb-3 p-3">


            <div class="col">
                <h3 class="card-title text-primary fw-bold m-0 mb-2 fs-5">@Localizer.GetUi("PositionDetails")</h3>
                @if (!string.IsNullOrEmpty(Position.PositionDetails))
                {

                    <p>@Position.PositionDetails.Replace(Environment.NewLine, "<br>")</p>
                }
            </div>
        </div>

        <div class="card mb-3 p-3">


            <div class="col">
                <h3 class="card-title text-primary fw-bold m-0 mb-2 fs-5">@Localizer.GetUi("PositionRequirements")</h3>
                @if (!string.IsNullOrEmpty(Position.PositionRequirements))
                {

                    <p>@Position.PositionRequirements.Replace(Environment.NewLine, "<br>")</p>
                }
            </div>
        </div>
        @if (Position.LinkExpiryDate > DateTime.Now)
        {
            <div class="mb-5 ">
                <button class="btn btn-success btn-md" @onclick="NavigateToRecruitmentForm">@Localizer.GetUi("Apply")</button>
            </div>

        }
    </div>

    <div class="col-md-4 ">
        <div class="card mb-3  pt-0">
            <div class="card-header mt-0" style="background-color: #f2f2f2;">
                <h6 class="text-dark  m-0">@Localizer.GetUi("OrganizationVision")</h6>
            </div>
            <div class="" style="height: 160px; overflow-y:auto; padding:5px 10px;">
                @if (!string.IsNullOrEmpty(Position.OrganizationVision))
                {

                    <p>@Position.OrganizationVision.Replace(Environment.NewLine, "<br>")</p>
                }
            </div>
        </div>
        <div class="card mb-3  pt-0">
            <div class="card-header mt-0" style="background-color: #f2f2f2;">
                <h6 class="text-dark  m-0">@Localizer.GetUi("OrganizationMission")</h6>

            </div>

            <div class="" style="height: 160px; overflow-y:auto; padding:5px 10px;">
                @if (!string.IsNullOrEmpty(Position.OrganizationMission))
                {

                    <p>@Position.OrganizationMission.Replace(Environment.NewLine, "<br>")</p>
                }
            </div>
        </div>

    </div>

</div>



@code {
    public Position Position { get; set; } = new();
    [Parameter]
    public string link { get; set; }
    [Parameter]
    public string lang { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(link))
        {
            Position = await _positionService.GetPositionFromLinkAsync(link);
        }
        await base.OnParametersSetAsync();
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void NavigateToRecruitmentForm()
    {
        NavigationManager.NavigateTo($"/{lang}/Recruitment/{Uri.EscapeDataString(link)}");
    }
    public async Task ChangeLanguage(string newlang)
    {
        lang = newlang;
        StateHasChanged();
    }
}
