@page "/{lang}/Recruitment/{link}"
@using System.Globalization
@inject IRecruitmentService _service;
@inject ISetupKeyValueService _setupService;
@inject IApplicantService _applicantService;

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3 text-center ">
            <img src="/Logo.webp" class="img-fluid rounded-start m-auto" alt="..." />
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title text-primary fw-bold m-0 mb-2 fs-5"><span style="display: inline-flex">@Localizer.GetUi("PositionName"): </span><span class="fs-5 fw-bold text-dark">@Recruitment.PositionName</span> </h5>
                <h6 class="card-text text-info m-0 p-0">@Localizer.GetUi("PositionSummary"): </h6>
                @if (!string.IsNullOrEmpty(Recruitment.PositionSummary))
                {

                    <p>@Recruitment.PositionSummary.Replace(Environment.NewLine, "<br>")</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="col-md-10 m-auto">
        <div class="card m-0 pt-0">
            <div class="card-header m-0 mb-3 bg-primary text-white">
                @Recruitment.PositionName
            </div>
            <EditForm Model="Applicant" OnSubmit="Send">
                <DataAnnotationsValidator />
                <div class="p-3">
                    @if (IsDoctor)
                    {
                        <h6 class="text-primary">@Localizer.GetUi("PersonalData")</h6>
                    }
                    <fieldset class="p-2 mb-2 mt-0 ">
                        <legend class="d-inline mr-3 mb-0"></legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  mb-3 row">
                                    <label class="col-sm-12 m-0 d" for="FirstName">@Localizer.GetUi("FirstName") <b style="color: red">*</b></label>

                                    <div class="col-sm-12 input-control ">
                                        <InputText @bind-Value=Applicant.FirstName />
                                        <ValidationMessage For="@(()=>Applicant.FirstName)"></ValidationMessage>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group  mb-3 row">
                                    <label class="col-sm-12 m-0 d" for="SecondName">@Localizer.GetUi("SecondName") <b style="color: red">*</b></label>

                                    <div class="col-sm-12 input-control ">
                                        <InputText @bind-Value=Applicant.SecondName />
                                        <ValidationMessage For="@(()=>Applicant.SecondName)"></ValidationMessage>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group  mb-3 row">
                                    <label class="col-sm-12 m-0 d" for="ThirdName">
                                        @Localizer.GetUi("ThirdName")
                                        @if (IsDoctor)
                                        {
                                            <b style="color: red">*</b>
                                        }
                                    </label>
                                    <div class="col-sm-12 input-control ">
                                        <InputText @bind-Value=Applicant.ThirdName />
                                        <ValidationMessage For="@(()=>Applicant.ThirdName)"></ValidationMessage>
                                    </div>
                                </div>
                            </div>

                            @if (!IsDoctor)
                            {
                                <div class="col-md-6">

                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="Title">
                                            @Localizer.GetUi("RecruitmentTitle")</label>
                                        <div class="col-sm-12 input-control ">
                                            <InputText @bind-Value=Applicant.Title />
                                            <ValidationMessage For="@(()=>Applicant.Title)"></ValidationMessage>
                                        </div>
                                    </div>

                                </div>
                            }

                            <div class="col-md-6">
                                <div class="form-group  mb-3 row">
                                    <label class="col-sm-12 m-0 d" for="PhoneNumber">@Localizer.GetUi("PhoneNumber")<b style="color: red">*</b></label>
                                    <div class="col-sm-12 input-control ">
                                        <InputText @bind-Value=Applicant.PhoneNumber />
                                        <ValidationMessage For="@(()=>Applicant.PhoneNumber)"></ValidationMessage>
                                    </div>
                                </div>
                            </div>

                            @if (!IsDoctor)
                            {
                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="Email">@Localizer.GetUi("Email")<b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            <InputText @bind-Value=Applicant.Email />
                                            <ValidationMessage For="@(()=>Applicant.Email)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="GenderID">@Localizer.GetUi("GenderID") <b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            @if (Genders != null && Genders.Count() > 0)
                                            {
                                                <InputSelect @bind-Value="Applicant.GenderID" class="form-select" TValue="decimal?">
                                                    <option value="0">@Localizer.GetUi("SelectGender")</option>
                                                    @foreach (var gender in Genders)
                                                    {
                                                        <option value="@gender.Id">@gender.Value.ToString()</option>
                                                    }
                                                </InputSelect>
                                            }
                                            <ValidationMessage For="@(()=>Applicant.GenderID)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="BirthDate">@Localizer.GetUi("BirthDate")<b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            <InputDate @bind-Value=Applicant.BirthDate></InputDate>
                                            <ValidationMessage For="@(()=>Applicant.BirthDate)"></ValidationMessage>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="MartialStatusID">
                                            @Localizer.GetUi("ErpMartialStatusID")<b style="color: red">*</b>
                                        </label>
                                        <div class="col-sm-12 input-control ">
                                            @if (MartialStatuses != null && MartialStatuses.Count() > 0)
                                            {
                                                <InputSelect @bind-Value="Applicant.ErpMartialStatusID" class="form-select" TValue="decimal?">
                                                    <option value="0">@Localizer.GetUi("SelectMartialStatus")</option>
                                                    @foreach (var item in MartialStatuses)
                                                    {
                                                        <option value="@item.Id">@item.Value.ToString()</option>
                                                    }
                                                </InputSelect>
                                            }
                                            <ValidationMessage For="@(()=>Applicant.ErpMartialStatusID)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="MilitryStatusID">@Localizer.GetUi("ErpMilitryStatusID")<b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            @if (MilitaryStatuses != null && MilitaryStatuses.Count() > 0)
                                            {
                                                <InputSelect @bind-Value="Applicant.ErpMilitryStatusID" class="form-select" TValue="decimal?">
                                                    <option value="0">@Localizer.GetUi("SelectMilitaryStatus")</option>
                                                    @foreach (var item in MilitaryStatuses)
                                                    {
                                                        <option value="@item.Id">@item.Value.ToString()</option>
                                                    }
                                                </InputSelect>
                                            }
                                            <ValidationMessage For="@(()=>Applicant.ErpMilitryStatusID)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="Address">@Localizer.GetUi("Address")<b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            <InputText @bind-Value=Applicant.Address />
                                            <ValidationMessage For="@(()=>Applicant.Address)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </fieldset>
                    @if (IsDoctor)
                    {

                        <h6 class="text-primary mt-3">@Localizer.GetUi("ErpDoctorDegreeID")</h6>
                        <fieldset class="card p-2 my-2 py-4 ">
                            <legend class="d-inline mr-3 mb-0"></legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="GraduationYear">@Localizer.GetUi("GraduationYear")<b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            <InputNumber @bind-Value=Applicant.GraduationYear Min="1980" Max="@DateTime.Now.Year"></InputNumber>
                                            <ValidationMessage For="@(()=>Applicant.GraduationYear)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="University">@Localizer.GetUi("ErpUniversityID")<b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            @if (Universities != null && Universities.Count() > 0)
                                            {
                                                <InputSelect @bind-Value="Applicant.ErpUniversityID" class="form-select" TValue="decimal?">
                                                    <option value="0">
                                                        @Localizer.GetUi("SelectUniversity")</option>
                                                    @foreach (var item in Universities)
                                                    {
                                                        <option value="@item.Id">@item.Value.ToString()</option>
                                                    }
                                                </InputSelect>
                                            }
                                            <ValidationMessage For="@(()=>Applicant.ErpUniversityID)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="DoctorDegreeID">@Localizer.GetUi("ErpDoctorDegreeID")<b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            @if (DoctorDegrees != null && DoctorDegrees.Count() > 0)
                                            {
                                                <InputSelect @bind-Value="Applicant.ErpDoctorDegreeID" class="form-select" TValue="decimal?">
                                                    <option value="0">@Localizer.GetUi("SelectDegree")</option>
                                                    @foreach (var item in DoctorDegrees)
                                                    {
                                                        <option value="@item.Id">@item.Value.ToString()</option>
                                                    }
                                                </InputSelect>
                                            }
                                            <ValidationMessage For="@(()=>Applicant.ErpDoctorDegreeID)"></ValidationMessage>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="DoctorDegreeDate">@Localizer.GetUi("DoctorDegreeDate")</label>
                                        <div class="col-sm-12 input-control ">
                                            <InputDate @bind-Value=Applicant.DoctorDegreeDate />
                                            <ValidationMessage For="@(()=>Applicant.DoctorDegreeDate)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="ErpSpecialtyID">@Localizer.GetUi("ErpSpecialtyID")<b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            @if (Specialities != null && Specialities.Count() > 0)
                                            {
                                                <InputSelect @bind-Value="Applicant.ErpSpecialtyID" class="form-select" TValue="decimal?">
                                                    <option value="0">@Localizer.GetUi("SelectSpeciality")</option>
                                                    @foreach (var item in Specialities)
                                                    {
                                                        <option value="@item.Id">@item.Value.ToString()</option>
                                                    }
                                                </InputSelect>
                                            }
                                            <ValidationMessage For="@(()=>Applicant.ErpSpecialtyID)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="OtherSpecialtyID">@Localizer.GetUi("ErpOtherSpecialtyID") </label>
                                        <div class="col-sm-12 input-control ">
                                            @if (OtherSpecialities != null && OtherSpecialities.Count() > 0)
                                            {
                                                <InputSelect @bind-Value="Applicant.ErpOtherSpecialtyID" class="form-select" TValue="decimal?">
                                                    <option value="0">@Localizer.GetUi("SelectSpeciality")</option>
                                                    @foreach (var item in OtherSpecialities)
                                                    {
                                                        <option value="@item.Id">@item.Value.ToString()</option>
                                                    }
                                                </InputSelect>
                                            }
                                            <ValidationMessage For="@(()=>Applicant.ErpOtherSpecialtyID)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="BranchID">@Localizer.GetUi("ErpBranchID")<b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            @if (Branches != null && Branches.Count() > 0)
                                            {
                                                <InputSelect @bind-Value="Applicant.ErpBranchID" class="form-select" TValue="decimal?">
                                                    <option value="0">@Localizer.GetUi("SelectBranch")</option>
                                                    @foreach (var item in Branches)
                                                    {
                                                        <option value="@item.Id">@item.Value.ToString()</option>
                                                    }
                                                </InputSelect>
                                            }
                                            <ValidationMessage For="@(()=>Applicant.ErpBranchID)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d" for="AreaCityID">@Localizer.GetUi("ErpAreaCityID") <b style="color: red">*</b></label>
                                        <div class="col-sm-12 input-control ">
                                            @if (AreaCities != null && AreaCities.Count() > 0)
                                            {
                                                <InputSelect @bind-Value="Applicant.ErpAreaCityID" class="form-select" TValue="decimal?">
                                                    <option value="0">@Localizer.GetUi("SelectArea")</option>
                                                    @foreach (var item in AreaCities)
                                                    {
                                                        <option value="@item.Id">@item.Value.ToString()</option>
                                                    }
                                                </InputSelect>
                                            }
                                            <ValidationMessage For="@(()=>Applicant.ErpAreaCityID)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group  mb-3 row">
                                        <label class="col-sm-12 m-0 d">@Localizer.GetUi("ApplicantNotes") </label>
                                        <div class="col-sm-12 input-control">
                                            <InputText @bind-Value=Applicant.ApplicantNotes />
                                            <ValidationMessage For="@(()=>Applicant.ApplicantNotes)"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    }
                    <div class="form-group d-flex justify-content-start mt-5  mb-3 ">
                        <label class="m-0 " for="CV">@Localizer.GetUi("CV")</label>

                        <div class="d-flex flex-row align-middle">
                            <InputFile></InputFile>
                            <small class="d-block me-2 ms-1" style="color: red">@Localizer.GetUi("MaxSize")</small>
                            <ValidationMessage For="@(()=>Applicant.CV)"></ValidationMessage>
                        </div>

                    </div>
                    <div class="form-group  my-5 row">

                        <div class="col-sm-8 mx-auto ">
                            <button type="submit" class="btn btn-success btn-lg w-100">@Localizer.GetUi("Send")</button>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    public Applicant Applicant { get; set; } = new();
    public Models.Recruitment Recruitment { get; set; }
    public bool IsDoctor { get; set; }
    public decimal PositionDepartmentID { get; set; }

    public List<KeyValue> Branches { get; set; }
    public List<KeyValue> DoctorDegrees { get; set; }
    public List<KeyValue> Genders { get; set; }
    public List<KeyValue> MilitaryStatuses { get; set; }
    public List<KeyValue> MartialStatuses { get; set; }
    public List<KeyValue> Specialities { get; set; }
    public List<KeyValue> OtherSpecialities { get; set; }
    public List<KeyValue> AreaCities { get; set; }
    public List<KeyValue> Universities { get; set; }

    [Parameter]
    public string link { get; set; }
    [Parameter]
    public string lang { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(link))
        {
            return;
        }

        await LoadRecruitmentDataAsync();
    }

    private async Task LoadRecruitmentDataAsync()
    {
        // var lang = "ar";
        Recruitment = await _service.GetRecruitmentFromLinkAsync(link);
        if (Recruitment != null)
            IsDoctor = Recruitment.IsDoctor;
        // var x = await _applicantService.GetAllApplicants();
        Branches = await _setupService.GetKeyValueList<Branch>(lang);
        Universities = await _setupService.GetKeyValueList<University>(lang);
        Genders = await _setupService.GetKeyValueList<Gender>(lang);
        OtherSpecialities = await _setupService.GetKeyValueList<Speciality>(lang, hasParent: true);
        Specialities = await _setupService.GetKeyValueList<Speciality>(lang);
        DoctorDegrees = await _setupService.GetKeyValueList<DoctorDegree>(lang);
        MilitaryStatuses = await _setupService.GetKeyValueList<MilitaryStatus>(lang);
        MartialStatuses = await _setupService.GetKeyValueList<MartialStatus>(lang);
        AreaCities = await _setupService.GetKeyValueList<AreaCity>(lang);
    }
    private async Task Send()
    {
        await _applicantService.SaveApplicant(Applicant);
    }
}
